<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>VDX Health Check</title>
</head>
<body>

<h1>VDX Health check</h1>
<form method="post" th:action="@{/execute}">
    <p></p>Phone: <input name="phone" type="text"/></p>
    <p></p><input type="submit" value="Click to execute health check"></p>
</form>
Only type in your phone number if SMS functionality should be verified.

</body>
</html>

